<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Album App </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <h1>Albums</h1>
    {% if request.user.is_authenticated %}  
    <p style="text-align: center;">Welcome to the home page, {{request.user}}!</p>
    {% endif %}
    <hr>
    {% if album_list %}
        {% for a in album_list %}
            <div class="center">
              <button id="albumbutton" class="button">
                <a class="link" href="{% url 'album_site:current_album' a.id %}">
                  <h2>{{ a.title }} </h2>
                  <p class="description"> {{a.description}}</p>
                </a>
              </button>
            </div>
          </div>
          <!-- <p> {{ a.description }} </p> -->
        {% endfor %}
    
    {% else %}
      <p> You have no albums currently. </p>
    {% endif %}
    <br>
    <div class="center">
    <button class="button">
      <a class="link" href="{% url 'album_site:new_album' %}">New Album</a>
    </button>
    <button class="button">
      <a class="link" href="{% url 'album_site:new_album_photo' %}">New Photo</a>
    </button>
    <button class="button"> 
      {% if request.user.is_authenticated %}
        <a class="link" href= "{% url 'album_site:logout'%}">Logout</a>
      {% else %}
        <a class="link" href="{% url 'album_site:login'%}"> Login </a>
      {% endif %}
    </button> 
  </div>
  </body>
</html>