{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Album App</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <h1> {{album.title}} </h1>
    {% if album.photo_set.all %}
      {% for p in album.photo_set.all %}
        <a href="{% url 'album_site:current_photo' album.id p.id%}">
          <img class="resize" src="{{p.image.url}}" alt="{{p.description}}">
        </a>
      {% endfor %}
    {% else %}
      <p> You have no photos in {{album.title}}. </p>
    {% endif %}
    <div class="center">
      <button class="button">
        <a class="link" href="{% url 'album_site:home' %}">Home</a>
      <button class="button">
        <a class="link" href="{% url 'album_site:new_photo' album.id%}">Add Photo</a>
      </button>
      <form action="{% url 'album_site:delete_album' album.id%}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="link button" type="submit" value="Delete Album">
      </form>
    </div>
  </body>
</html>