* {
    background-color: #caf0f8;
}

h1 {
    color: #03045e;
    text-align: center;
}

h2 {
    background-color: transparent;
}
.buttoncenter {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
button {
    display: block;
}

#albumbutton {
    background-color: #0077b6;
}

.button {
    background-color: #00b4d8;
    cursor: pointer;
    text-decoration: none;
    margin: 20px;
    
    display: block;

    border-radius: 10px;
    font-size: 30px;
}

.link {
    display: block;
    background-color: transparent;
    text-decoration: none;
    padding: 25px 20px;
}

#buttonword{
    padding: 10px 50px;
}

.description {
    color: black;
    background-color: #0077b6;
    font-size: 20px;
}
